<h1>Active games</h1>
<ul>
  <% activeGames.forEach(game => { %> <% if (game.organizer) { %>
  <li>
    <%= game.name %> - Organized by: <%= game.organizer.displayName %> <% if
    (!game.participants.includes(user._id)) { %>
    <a href="/game/<%= game._id %>/view">Participate</a>
    <% } else { %>
    <!-- - You are already participating -->
    <a href="/game/<%= game._id %>/play">Play</a>
    <% } %>
  </li>
  <% } %> <% }) %>
</ul>

<h1>Completed games</h1>
<ul>
  <% completedGames.forEach(game => { %>
  <li>
    <%= game.name %> - Organized by: <%= game.organizer.displayName %> - Winner:
    <%= game.winner.displayName %>
  </li>
  <% }) %>
</ul>
