<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Juegos</title>
</head>
<body>
    <h1>Active games</h1>
    <ul>
        <% activeGames.forEach(game => { %>
            <li>
                <%= game.name %> - Organizado por: <%= game.organizer.displayName %>
                <% if (!game.participants.includes(user._id)) { %>
                    <a href="/game/<%= game._id %>/view">Participate</a>
                <% } else { %>
                    <!-- - You are already participating -->
                    <a href="/game/<%= game._id %>/play">Play</a>
                <% } %>
            </li>
        <% }) %>
    </ul>

    <h1>Completed games</h1>
    <ul>
        <% completedGames.forEach(game => { %>
            <li><%= game.name %> - Ganador: <%= game.winner %></li>
        <% }) %>
    </ul>
</body>
</html>
