<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Join - <%= game.name %></title>
</head>
<body>
    <h1>Join: <%= game.name %></h1>
    <p><b>Organizer:</b> <%= game.organizer.displayName %></p>
    <p><b>Area description:</b> Centre at (<%= game.area.center.lat %>, <%= game.area.center.lng %>)</p>
    <form action="/game/<%= game._id %>/join" method="POST">
        <button type="submit">Join game</button>
    </form>
</body>
</html>
