<h1>Supervising: <%= game.name %></h1>
<div id="map" style="width: 100%; height: 400px"></div>
<h2>Game information</h2>
<p><b>Status:</b> <%= game.isActive ? 'Active' : 'Completed' %></p>
<% if (game.winner) { %>
<p><b>Winner:</b> <%= game.winner.displayName %></p>
<% } %>
<h2>Participants</h2>
<ul>
  <% game.participants.forEach(participant => { %>
  <li><%= participant.displayName %></li>
  <% }); %>
</ul>
<h2>Caches</h2>
<ul>
  <% game.caches.forEach(cache => { %>
  <li>
    <b>Pista:</b> <%= cache.hint %> <% if (cache.foundBy.length > 0) { %> -
    Found by: <% cache.foundBy.forEach(user => { %> <%= user.displayName %> <%
    }); %> <% } else { %> - Not found <% } %>
  </li>
  <% }); %>
</ul>

<form action="/game/<%= game._id %>/reset" method="POST">
  <button type="submit">Reset game</button>
</form>

<script>
  function initMap() {
      const areaCenter = { lat: <%= game.area.center.lat %>, lng: <%= game.area.center.lng %> };
      const map = new google.maps.Map(document.getElementById("map"), {
          center: areaCenter,
          zoom: 14,
          mapId: "<%= googleMapsId %>"
      });

      <% game.caches.forEach(cache => { %>
          new google.maps.marker.AdvancedMarkerElement({
              position: { lat: <%= cache.location.lat %>, lng: <%= cache.location.lng %> },
              map: map,
              title: "<%= cache.hint %>",
              content: new google.maps.marker.PinElement({
                  borderColor: "green",
                  background: "green",
                  glyphColor: "white",
              }).element
          });
      <% }); %>
  }
</script>
